<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- Servlets -->
  <servlet>
        <servlet-name>storeSessionServlet</servlet-name>
        <servlet-class>com.msports.sportify.server.StoreSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>storeSessionServlet</servlet-name>
        <url-pattern>/storeSession</url-pattern>
    </servlet-mapping>
  
   <servlet>
        <servlet-name>storeDailyStepsServlet</servlet-name>
        <servlet-class>com.msports.sportify.server.StoreDailyStepsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>storeDailyStepsServlet</servlet-name>
        <url-pattern>/storeDailySteps</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>getDailyStepsDataServlet</servlet-name>
        <servlet-class>com.msports.sportify.server.GetDailyStepsDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getDailyStepsDataServlet</servlet-name>
        <url-pattern>/getDailyStepsData</url-pattern>
    </servlet-mapping>
    
  <servlet>
    <servlet-name>sportifyServlet</servlet-name>
    <servlet-class>com.msports.sportify.server.SportifyServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>sportifyServlet</servlet-name>
    <url-pattern>/sportify/service</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>StartPage.html</welcome-file>
  </welcome-file-list>
 
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>